[package]
name = "setup_var"
version = "0.2.0"
edition = "2021"
license = "MIT OR Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"
uefi = { version = "0.17", features = ["alloc", "exts"] }
uefi-services = "0.14"
